<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/room.css" />
    <title>Chat Room- Docket IO</title>
</head>

<body>
    <aside class="warrap room">
        <section class="regis_mem chatroom" id="chatroom">
            <div class="heading">Chat Room</div>
            <div class="control_box_room">
                <div class="form_regis_mem room_head_control">
                    <!-- <span class="txt_hello">Chào bạn <b>Hùng</b></span>
                    <span class="logout" id="logout">Thoát</span> -->
                    <input type="text" class="txt_name control_input" id="txt_name" placeholder="Nhập họ tên.." />
                    <button class="btn_regis btn_regis_name">Đăng ký</button>
                    <div class="validation"></div>
                </div>
                <div class="form_regis_room room_head_control">
                    <input type="text" class="txt_name_room control_input" id="txt_name_room" placeholder="Nhập tên phòng muốn lập..." />
                    <button class="btn_regis create_room">Đăng ký</button>
                </div>
            </div>
        </section>
        <div class="box_chat_room clearfix">
            <div class="list_mem room_float">
                <ul class="list_mem_ul"></ul>
            </div>
            <div class="list_room room_float">
                <ul class="list_room_ul">
                    <li>Phòng 1</li>
                    <li>Phòng 2</li>
                </ul>
            </div>
            <div class="room_chat room_float">
                <div class="content_chat">
                    <ul id="messages"></ul>
                </div>
                <div class="content_message">
                    <input class="txt_message" id="txt_message" type="text" placeholder="Nhập thông điệp muốn gửi" />
                    <p class="typing_now now-typing">
                        <!-- <span class="name">Bốn  </span> đang nhập ... -->
                    </p>
                </div>
            </div>
        </div>
    </aside>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery.js"></script>
<script src="js/handleroom.js"></script>

</html>