<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/room.css" />
    <title>Chat Room- Docket IO</title>
</head>

<body>
    <aside class="warrap">
        <section class="regis_mem" id="regis_mem">
            <div class="heading">Chat Room</div>
            <div class="form_regis">
                <input type="text" class="input_message" id="input_message" placeholder="Nhập họ tên.." />
                <button class="btn_regis">Đăng ký</button>
            </div>
        </section>
        <div class="box_chat_room">
            info Room
        </div>
    </aside>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery.js"></script>
<script src="js/handleroom.js"></script>

</html>