<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ - Socket IO</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="box_chat">
        <dib class="content_chat">
            <ul id="messages"></ul>
            <form action="">
                <div class="control_input">
                    <input class="mes" id="mes" autocomplete="of" />
                    <button>Send</button>
                </div>
            </form>
        </dib>
    </div>
</body>
<script src="https://choicho.herokuapp.com/socket.io/socket.io.js"></script>
<script src="js/jquery.js"></script>
<script src="js/handles.js"></script>

</html>