
.box_chat {
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.box_conent_chat {
    width: calc(100% - 200px);
}

.control_input,
.content_chat {
    border: 1px solid #e1e1e1;
}

.control_input {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.content_chat {
    width: 100%;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.content_chat ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content_chat ul li {
    list-style: none;
    padding: 5px;
}

.content_chat ul li:nth-child(2n) {
    background: #fbfbfb;
}

.control_input .mes {
    width: calc(100% - 60px);
    border: none;
    outline: none;
    padding: 0 0.5em;
    height: 40px;
}

.control_input button {
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4cb3da;
}

.content_chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 100px);
}

.person_list {
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 200px;
}

.person_list ul {
    padding: 5px;
}

.person_list ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person_list ul li.active::before {
    background: #4196ff;
}

.person_list ul li:before {
    content: '';
    display: block;
    background-image: url('img/connect.png');
    border-radius: 100%;
    background: #ccc;
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
/* =============CSS BAI 1 ================ */
