.warrap {
    width: 100%;
    max-width: 768px;
    min-width: 300px;
    margin: 0 auto;
}

.box_chat {
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.box_conent_chat {
    width: calc(100% - 200px);
}

.control_input,
.content_chat {
    border: 1px solid #e1e1e1;
}

.control_input {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.content_chat {
    width: 100%;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.content_chat ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content_chat ul li {
    list-style: none;
    padding: 5px;
}

.control_input .mes {
    width: calc(100% - 0);
    border: none;
    outline: none;
    padding: 0 0.5em;
    height: 40px;
}

.control_input button {
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4cb3da;
}

.content_chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 150px);
}

.person_list {
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 200px;
}

.person_list ul {
    padding: 5px;
}

.person_list ul li {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person_list ul li.active::before {
    background: #4196ff;
}

.person_list ul li:before {
    content: '';
    display: block;
    background-image: url('/public/img/connect.png');
    border-radius: 100%;
    background: #ccc;
    height: 24px;
    width: 24px;
    margin-right: 5px;
}


/* =============CSS BAI 1 ================ */

.regis_mem {
    background: #fff1ae;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e1;
}

.regis_mem .heading {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.regis_mem .form_regis {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.regis_mem .form_regis .input_message {
    height: 40px;
    padding: 0 5px;
    max-width: 100%;
    min-width: 300px;
    outline: none;
    border: 1px solid #ccc;
}

.regis_mem .form_regis .btn_regis {
    height: 40px;
    border: none;
    background: chocolate;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
}

.regis_mem .form_regis .btn_regis:hover,
.regis_mem .form_regis .btn_regis:focus {
    background: palevioletred;
}

.hello_mem_form {
    display: flex;
    flex-direction: column;
}

.hello_mem_form .name_hello {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hello_mem_form .btn_logout {
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    font-weight: 600;
}

#input_message.error {
    border: 1px solid red;
}

.typing_now {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 24px;
    justify-content: flex-start;
}

.now-typing {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    color: #bdbdbd;
}

.now-typing::before {
    content: '';
    display: block;
    background-image: url('../img/typing.gif');
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: 100%;
}

#messages .me {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#messages .me .noidung {
    color: #fff;
    text-align: right;
    max-width: calc(100% - 60px);
    padding: 10px;
    border-radius: 10px;
    background: #4196ff;
}

#messages .you {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#messages .you .name {
    font-size: 8px;
    color: #333;
}

#messages .you .noidung {
    background: #f7f7f7;
    color: #333;
    text-align: right;
    max-width: calc(100% - 60px);
    padding: 10px;
    border-radius: 10px;
}

.mes {
    width: 100%;
    height: 100%;
}